* {
    background: lightgreen;
}

.header {
    font-family: sans-serif;
    text-align: center;
}

.header1 {
    font: 3em;
}

.header2 {
    font: 2em;
}

.navbar {}

ul {
    list-style: none;
    vertical-align: top;
}

li {
    display: inline-table;
    margin-left: 1.5em;
    margin-right: 1.5em;
    font-size: 1.5em;
}

.description {
    font: 2em;
}

.headerimage {
    width: 75%;
    height: 50%;
}

.headerimage2 {
    width: 50%;
    height: 25%;
}
