* {
    background: lightgreen;
}

.header {
    font-family: sans-serif;
    text-align: center;
}

.header1 {
    font: 2em;
}

.header2 {
    font: 1.5em;
}

.navbar {
    
}

ul {
    list-style: none;
    display: inline-block;
    vertical-align: top;
}

.description {
    font: 1.5em;
}